// Module

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;

// Base Fonts
$sans: "proxima-nova", Helvetica, Arial, sans-serif;
$serif: 'Sentinel A', 'Sentinel B', serif;